# Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os
import re

# Importing data

In [3]:
# Define path
file_path = r'/Users/nhungphamthi/Documents/data analytis/Achievement 6'

In [5]:
# Load the data into a DataFrame
df = pd.read_csv(os.path.join(file_path, 'gunviolence.csv'), index_col = False)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 29 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   incident_id                  239677 non-null  int64
 1   date                         239677 non-null  object
 2   state                        239677 non-null  object
 3   city_or_county               239677 non-null  object
 4   address                      223180 non-null  object
 5   n_killed                     239677 non-null  int64
 6   n_injured                    239677 non-null  int64
 7   incident_url                 239677 non-null  object
 8   source_url                   239209 non-null  object
 9   incident_url_fields_missing  239677 non-null  bool
 10  congressional_district       227733 non-null  float64
 11  gun_stolen                   140179 non-null  object
 12  gun_type                     140226 non-null  object
 13  incident_characteristics     239351 non-null  object
 14  latitude                     231754 non-null  float64
 15  location_description         42089 non-null   object
 16  longitude                    231754 non-null  float64
 17  n_guns_involved              140226 non-null  float64
 18  notes                        158660 non-null  object
 19  participant_age              147379 non-null  object
 20  participant_age_group        197558 non-null  object
 21  participant_gender           203315 non-null  object
 22  participant_name             117424 non-null  object
 23  participant_relationship     15774 non-null   object
 24  participant_status           212051 non-null  object
 25  participant_type             214814 non-null  object
 26  sources                      239068 non-null  object
 27  state_house_district         200905 non-null  float64
 28  state_senate_district        207342 non-null  float64
dtypes: bool(1), float64(6), int64(3), object(19)
memory usage: 51.4+ MB

In [13]:
# missing values
df.isnull().sum()

incident_id                         0
date                                0
state                               0
city_or_county                      0
address                         16497
n_killed                            0
n_injured                           0
incident_url                        0
source_url                        468
incident_url_fields_missing         0
congressional_district          11944
gun_stolen                      99498
gun_type                        99451
incident_characteristics          326
latitude                         7923
location_description           197588
longitude                        7923
n_guns_involved                 99451
notes                           81017
participant_age                 92298
participant_age_group           42119
participant_gender              36362
participant_name               122253
participant_relationship       223903
participant_status              27626
participant_type                24863
sources                           609
state_house_district            38772
state_senate_district           32335
dtype: int64

In [15]:
# Drop columns with over 80% missing data
columns_to_drop = ['participant_relationship', 'location_description', 'gun_stolen','gun_type','participant_name', 'incident_url', 'source_url', 'sources', 'incident_characteristics', 'notes', 'incident_url_fields_missing' , 'location_description', 'latitude', 'longitude', 'city_or_county', 'congressional_district' ,'state_house_district','state_senate_district','address']
df_cleaned = df.drop(columns=columns_to_drop)

In [17]:
# missing values
df_cleaned.isnull().sum()

incident_id                  0
date                         0
state                        0
n_killed                     0
n_injured                    0
n_guns_involved          99451
participant_age          92298
participant_age_group    42119
participant_gender       36362
participant_status       27626
participant_type         24863
dtype: int64

In [19]:
# missing values in n_guns_involved means zero gun were involved. so we have to fill the emplty cells with zeros
df_cleaned['n_guns_involved'] = df_cleaned['n_guns_involved'].fillna(0)

In [21]:
# missing values
df_cleaned.isnull().sum()

incident_id                  0
date                         0
state                        0
n_killed                     0
n_injured                    0
n_guns_involved              0
participant_age          92298
participant_age_group    42119
participant_gender       36362
participant_status       27626
participant_type         24863
dtype: int64

In [23]:
df_cleaned.head()

,incident_id,date,state,n_killed,n_injured,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,0,4,0.0,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,1,3,0.0,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,1,3,2.0,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,4,0,0.0,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,2,2,2.0,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [29]:
# Fill missing values for categorical data with "Unknown"
categorical_fill = ['participant_age_group', 'participant_gender', 'participant_status', 'participant_type', 'participant_age' ]
for col in categorical_fill:
    df_cleaned[col] = df_cleaned[col].fillna('Unknown')

In [31]:
# Verify cleaning results
df_cleaned.isnull().sum()

incident_id              0
date                     0
state                    0
n_killed                 0
n_injured                0
n_guns_involved          0
participant_age          0
participant_age_group    0
participant_gender       0
participant_status       0
participant_type         0
dtype: int64

In [33]:
# duplicates in the df_ords dataframe
df_cleaned[df_cleaned.duplicated()]

Empty DataFrame
Columns: [incident_id, date, state, n_killed, n_injured, n_guns_involved, participant_age, participant_age_group, participant_gender, participant_status, participant_type]
Index: []

### No duplicate

In [35]:
df_cleaned.head()

,incident_id,date,state,n_killed,n_injured,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,0,4,0.0,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,1,3,0.0,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,1,3,2.0,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,4,0,0.0,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,2,2,2.0,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [38]:
df_cleaned.dtypes

incident_id                int64
date                      object
state                     object
n_killed                   int64
n_injured                  int64
n_guns_involved          float64
participant_age           object
participant_age_group     object
participant_gender        object
participant_status        object
participant_type          object
dtype: object

In [40]:
# Convert the 'date' column to datetime format
df_cleaned['date'] = pd.to_datetime(df_cleaned['date'])

In [42]:
# Verify the conversion
df_cleaned['date'].head()

0   2013-01-01
1   2013-01-01
2   2013-01-01
3   2013-01-05
4   2013-01-07
Name: date, dtype: datetime64[ns]

In [44]:
df_cleaned.isnull().sum()

incident_id              0
date                     0
state                    0
n_killed                 0
n_injured                0
n_guns_involved          0
participant_age          0
participant_age_group    0
participant_gender       0
participant_status       0
participant_type         0
dtype: int64

In [46]:
unknown_rows = df_cleaned[df_cleaned['participant_type'] == 'Unknown']

In [48]:
unique_values = unknown_rows['n_injured'].unique()

print(unique_values)

[0]

In [50]:
def count_occurrences(s, pattern):
    return len(re.findall(pattern, s))

# Add new columns for counting occurrences of "Victim" and "Subject-Suspect"
df_cleaned['n_victims'] = df_cleaned['participant_type'].apply(lambda x: count_occurrences(x, r"Victim"))
df_cleaned['n_suspects'] = df_cleaned['participant_type'].apply(lambda x: count_occurrences(x, r"Subject-Suspect"))

In [52]:
def count_occurrences(s, pattern):
    return len(re.findall(pattern, s))

# Add new columns for counting occurrences of "Victim" and "Subject-Suspect"
df_cleaned['n_unharmed'] = df_cleaned['participant_status'].apply(lambda x: count_occurrences(x, r"Unharmed"))
df_cleaned['n_arrested'] = df_cleaned['participant_status'].apply(lambda x: count_occurrences(x, r"Arrested"))

In [54]:
df_cleaned.isnull().sum()

incident_id              0
date                     0
state                    0
n_killed                 0
n_injured                0
n_guns_involved          0
participant_age          0
participant_age_group    0
participant_gender       0
participant_status       0
participant_type         0
n_victims                0
n_suspects               0
n_unharmed               0
n_arrested               0
dtype: int64

In [56]:
df_cleaned.drop(columns=['participant_status', 'participant_type', 'participant_gender', 'participant_age_group' , 'participant_age'], inplace=True)

In [58]:
df_cleaned.columns

Index(['incident_id', 'date', 'state', 'n_killed', 'n_injured',
       'n_guns_involved', 'n_victims', 'n_suspects', 'n_unharmed',
       'n_arrested'],
      dtype='object')

In [62]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   incident_id      239677 non-null  int64
 1   date             239677 non-null  datetime64[ns]
 2   state            239677 non-null  object
 3   n_killed         239677 non-null  int64
 4   n_injured        239677 non-null  int64
 5   n_guns_involved  239677 non-null  float64
 6   n_victims        239677 non-null  int64
 7   n_suspects       239677 non-null  int64
 8   n_unharmed       239677 non-null  int64
 9   n_arrested       239677 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(1)
memory usage: 18.3+ MB

## Export data

In [64]:
df_cleaned.to_csv(os.path.join(file_path, 'cleaned_gunviolence.csv'))